<%if @orders != [] %>
<% @orders.each do |order|%>

<%if order.stats == nil %>
<% order.stats = false %>
<% end %>

<hr>
<h4><%=order.item.name%> counts: <%=link_to "+",plus_path(order.item.id)%>|<%=order.counts%>|<%=link_to "-", minus_path(order.item.id) %> Status of our order: <%= order.stats%>  </h4> 


<%if order.stats == false %>
<%= datetime_select( order.oriental_at , confirm_path , default: 1.days.from_now) %>

<% end %>

<p><%= link_to "delete", order_path(order.id) ,method: :delete %></p>
<hr>
<%= link_to " confirm ", confirm_path, class: "btn btn-default"%>
<%end%>
<%else%>
<h1>You have no orders. Choose some sweets :3</h1>
<%end%>



