<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
     <b class="navbar-brand">DoubleHead Sweet Factory</b> 
    </div>
    <ul class="nav navbar-nav">
      <li><%= link_to "SHOP", root_path %></li>
      <li><%= link_to "MY CHARM",orders_path %></li>
      <li><%= link_to "ABOUT US",about_path %></li>
    </ul>
<div style="text-align: right; padding-top: 15px;">
<%if user_signed_in? %>

<%= link_to  destroy_user_session_path ,method: :delete do%><i class="glyphicon glyphicon-log-out"></i><%end%>
<%else%>
<%= link_to new_user_session_path do%><i class="glyphicon glyphicon-log-in"></i><%end%>
<%end%>
</div>
  </div>
</nav>
<span style="margin-left: 37%;"><img src="/images/logo.png"  height="300" width="300"></span>

